/* color pallete light to dark:
ecc8af, e7ad99, ce796b, c18c5d, 495867
*/

body {
    background-color: #495867;
    color: #ecc8af;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 20px;
    text-shadow: 1px 1px 2px black;
}

h1, h3 {
  color: #c18c5d;
}

form {
    display: block;
    line-height: 2;
}

input {
    width: 50%;
    background-color: #ecc8af;
    color: #495867;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
}


button {
    background-color: #c18c5d;
    color: #ecc8af;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-shadow: 1px 1px 2px black;
}

button:hover {
    font-size: 20px;
    background-color: #ce796b;
    color: #01161e;
    text-shadow: 1px 1px 2px black;
}


#container {
    display: inline-block;
    position: relative;
    background-color: #01161e;
    min-height: 400px;
    width: 90%;
    margin: 1.6%;
    padding:10px;
    border-radius: 10px;

}
.top-text {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -4px 4px 5px black;
}

.bottom-text {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: white;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -4px 4px 5px black;
}

.cancel {
    position: absolute;
    top: 8px;
    right: 16px;
}

.container {
    position: relative;
  }

.meme-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: relative;
}

.delete {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8px;
    right: 16px;
}

